* {
    font-family: "Times New Roman", sans-serif;
}

/* Theme toggle */
.theme-toggle {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
}

.sun-icon {
    display: none;
}

.moon-icon {
    display: none;
}

.dark-mode {
    background-color: black;
    color: white;
}

body.light-mode .sun-icon {
    display: inline;
    background-color: whitesmoke;
}

body.dark-mode .moon-icon {
    display: inline;
    background-color: black;
}

/* Settings button */
#settings {
    display: inline-block;
    padding: 0;
    border: 2px solid #007BFF; /* Example border */
    background-color: #007BFF; /* Example background color */
    border-radius: 5px; /* Example rounded corners */
    cursor: pointer;
    text-decoration: none; /* Remove underline from link */
}

#settings_button_link {
    display: block;
    width: 100%;
    height: auto;
}
