* {
    font-family: "Times New Roman", sans-serif;
}

/* Light theme */
body.light-theme {
    background-color: white;
    color: black;
}

h1.light-theme {
    color: black;
}

a.light-theme {
    color: blue;
}

p {
    font-size: 16px;
    line-height: 1.5;
    color: darkgray;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}

ol {
    list-style-type: decimal;
    margin-left: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

img {
    max-width: 100%;
    height: auto;
}

/* Dark theme */
body.dark-theme {
    background-color: black;
    color: white;
}

h1.dark-theme {
    color: white;
}

a.dark-theme {
    color: lightblue;
}