* {
    font-family: "Times New Roman", sans-serif;
}

/* Light theme */
body.light-theme {
    background-color: white;
    color: black;
}

h1.light-theme {
    color: black;
}

a.light-theme {
    color: blue;
}
